body {
  background-color: #e3fafc;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
a {
  text-decoration: none;
  color: #087f5b;
  font-weight: 500;
}

.section-1 {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
}
.new-book {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  background-color: #ffdeeb;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 0 0 0.8rem #e6c8d4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container {
  border: 1px solid;
  background-color: #ffdeeb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s ease-in-out;
  font-size: 1.8rem;
  border: none;
  border-radius: 9px;
}
#submit {
  border: none;
  display: block;
  color: inherit;
  background-color: #96f2d7;
  font-family: inherit;
  border-radius: 9px;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
#title,
#author,
#page {
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 9px;
}
.books-container {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  gap: 2.4rem;
  max-width: 120rem;
  margin: 2.4rem auto;
}

.books {
  background-color: #fffcfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 22.08rem;
  height: 20rem;
  border: none;
  border-radius: 9px;
  gap: 1rem;
  padding: 0.6rem 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.text {
  line-height: 1.6;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.delete-icon {
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}

.delete-icon:hover,
.delete-icon:active {
  color: #c2255c;
  transition: all 0.3s;
}

.new-book:hover,
.new-book:active {
  background-color: #e6c8d4;
  transition: all 0.3s;
}

.true,
.false.toggle {
  color: #332c2f;
  background-color: #96f2d7;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 9px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.true.toggle,
.false {
  color: #fffcfd;
  background-color: #c2255c;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}
.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  align-items: center;
  color: #96f2d7;
  background-color: #332c2f;
}

span:hover,
span:active {
  filter: brightness(180%);
  transition: all 0.7s;
}

.github-icon {
  width: 3rem;
  height: 3rem;
  color: #96f2d7;
}

.github-icon:hover {
  filter: brightness(180%);
  transition: all 0.7s;
}
